services:
  lightrag:
    container_name: lightrag-custom
    image: lightrag-custom:dev
    build:
      context: .
      dockerfile: Dockerfile.dev
      args:
        - BUILD_MODE=development
    ports:
      - "${PORT:-9621}:9621"
      - 5679:5678
    volumes:
      - ./data/rag_storage:/app/data/rag_storage
      - ./data/inputs:/app/data/inputs
      - ./data/tiktoken:/app/data/tiktoken
      - ./config.ini:/app/config.ini
      - ./.env:/app/.env
    env_file:
      - .env
    environment:
      - TIKTOKEN_CACHE_DIR=/app/data/tiktoken
    #restart: unless-stopped #this will make this container launch even after reboot, if you care for your RAM, you won't activate this :) 
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - lightrag_default
      - deepbrain_network
    develop:
      watch:
        - action: rebuild
          path: lightrag_webui
networks:
  lightrag_default:
    driver: bridge
  deepbrain_network:
    external: true
