services:
  lightrag:
    container_name: lightrag-custom
    image: lightrag-custom:dev
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - BUILD_MODE=development
    ports:
      - "${PORT:-9621}:9621"
    volumes:
      - ./data/rag_storage:/app/data/rag_storage
      - ./data/inputs:/app/data/inputs
      - ./config.ini:/app/config.ini
      - ./.env:/app/.env
    env_file:
      - .env
    environment:
      - TIKTOKEN_CACHE_DIR=/app/data/tiktoken
    #restart: unless-stopped #this will make this container launch even after reboot, if you care for your RAM, you won't activate this :)
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - lightrag_default
      - deepbrain_network
    develop:
      watch:
        - action: rebuild
          path: lightrag_webui
  memgraph:
    image: memgraph/memgraph:latest
    container_name: memgraph
    restart: unless-stopped
    ports:
      - "7687:7687"    
      - "7444:7444"
    command: ["--bolt-port=7687", "--log-level=INFO"]
    networks:
      - lightrag_default

  memgraph-lab:
    image: memgraph/lab:latest
    container_name: memgraph-lab
    ports:
      - "3002:3000"
    depends_on:
      - memgraph
    networks:
      - lightrag_default

  milvus-etcd:
    image: quay.io/coreos/etcd:v3.5.5
    container_name: milvus-etcd
    environment:
      - ETCD_AUTO_COMPACTION_MODE=revision
      - ETCD_AUTO_COMPACTION_RETENTION=1000
      - ETCD_QUOTA_BACKEND_BYTES=4294967296
    command: >
      etcd
      --advertise-client-urls=http://0.0.0.0:2379
      --listen-client-urls=http://0.0.0.0:2379
      --data-dir=/etcd
    volumes:
      - ./data/milvus/etcd:/etcd
    networks:
      - lightrag_default

  milvus-minio:
    image: minio/minio:RELEASE.2023-10-07T15-07-38Z
    container_name: milvus-minio
    environment:
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin
    command: minio server /minio_data --console-address ":9001"
    volumes:
      - ./data/milvus/minio:/minio_data
    ports:
      - "9001:9001"
    networks:
      - lightrag_default

  milvus:
    image: milvusdb/milvus:v2.4.0
    container_name: milvus
    depends_on:
      - milvus-etcd
      - milvus-minio
    environment:
      ETCD_ENDPOINTS: milvus-etcd:2379
      MINIO_ADDRESS: milvus-minio:9000
    command: ["milvus", "run", "standalone"]
    ports:
      - "19530:19530"
      - "9091:9091"
    volumes:
      - ./data/milvus/data:/var/lib/milvus
    networks:
      - lightrag_default

  attu:
    image: zilliz/attu:latest
    container_name: milvus-attu
    environment:
      MILVUS_URL: milvus:19530
    ports:
      - "3001:3000"
    depends_on:
      - milvus
    networks:
      - lightrag_default

networks:
  lightrag_default:
    driver: bridge
  deepbrain_network:
    external: true
